In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/Acciona.csv')
df1

          Fecha   Último Apertura   Máximo   Mínimo     Vol.  % var.
0    10.12.2021  158,600  159,700  160,350  158,300        -  -0,75%
1    09.12.2021  159,800  159,800  161,300  159,400   47,41K   0,44%
2    08.12.2021  159,100  161,400  163,000  158,400   70,76K  -1,67%
3    07.12.2021  161,800  160,000  162,600  159,400   67,14K   2,21%
4    06.12.2021  158,300  157,000  159,100  156,300   54,43K   2,00%
..          ...      ...      ...      ...      ...      ...     ...
238  08.01.2021  127,900  127,700  128,800  126,700  158,75K   1,43%
239  07.01.2021  126,100  120,000  126,500  119,800  174,31K   5,52%
240  06.01.2021  119,500  117,300  119,600  116,300  162,25K   2,58%
241  05.01.2021  116,500  117,300  118,100  116,000   79,44K  -0,51%
242  04.01.2021  117,100  116,900  118,100  116,600  105,60K   0,34%

[243 rows x 7 columns]

In [3]:
df2 = pd.read_csv('data/acellormital.csv')
df2

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  25,775   26,133  26,335  25,727        -  -0,04%
1    09.12.2021  25,785   26,035  26,450  25,560  301,31K  -1,73%
2    08.12.2021  26,240   26,295  26,650  26,065  394,86K  -0,36%
3    07.12.2021  26,335   25,545  26,395  25,545  595,25K   5,30%
4    06.12.2021  25,010   24,730  25,230  24,455  367,35K   2,17%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  20,295   20,940  21,040  20,105  613,71K  -2,26%
239  07.01.2021  20,765   20,305  20,975  20,155  647,52K   2,62%
240  06.01.2021  20,235   20,120  20,330  19,756  642,58K   2,62%
241  05.01.2021  19,718   19,560  19,800  19,330  661,87K  -0,01%
242  04.01.2021  19,720   19,182  20,185  19,182    1,15M   3,52%

[243 rows x 7 columns]

In [4]:
df3 = pd.read_csv('data/acerinox.csv')
df3

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  10,260   10,212  10,338  10,172        -   0,54%
1    09.12.2021  10,205   10,385  10,390  10,145  550,94K  -0,92%
2    08.12.2021  10,300   10,300  10,425  10,260  681,18K   0,00%
3    07.12.2021  10,300   10,175  10,335  10,120  754,47K   3,02%
4    06.12.2021   9,998    9,988  10,030   9,852  385,18K   1,38%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021   9,712    9,900   9,900   9,670  696,16K  -1,10%
239  07.01.2021   9,820    9,590   9,840   9,550    1,13M   2,96%
240  06.01.2021   9,538    9,334   9,546   9,304    1,14M   2,43%
241  05.01.2021   9,312    9,310   9,334   9,214  463,93K   0,19%
242  04.01.2021   9,294    9,180   9,432   9,142  708,56K   2,88%

[243 rows x 7 columns]

In [5]:
df4= pd.read_csv('data/acs.csv')
df4

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  21,460   21,510  21,590  21,405        -   0,23%
1    09.12.2021  21,410   21,720  21,770  21,360  629,48K  -1,38%
2    08.12.2021  21,710   21,950  22,050  21,410    1,62M  -1,41%
3    07.12.2021  22,020   22,140  22,340  22,020  867,94K   0,87%
4    06.12.2021  21,830   21,550  21,950  21,360  495,96K   2,25%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  27,810   27,950  28,210  27,740  515,62K   0,25%
239  07.01.2021  27,740   28,270  28,320  27,560    2,17M  -1,11%
240  06.01.2021  28,050   27,690  28,420  27,620  809,84K   2,19%
241  05.01.2021  27,450   26,790  27,460  26,750  444,72K   1,63%
242  04.01.2021  27,010   27,490  28,140  26,890    1,28M  -0,52%

[243 rows x 7 columns]

In [6]:
df5 = pd.read_csv('data/aena.csv')
df5

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  130,15   130,10  131,10  129,95        -  -0,38%
1    09.12.2021  130,65   133,60  133,65  130,00  268,97K  -2,06%
2    08.12.2021  133,40   133,20  136,05  129,40  237,34K  -0,71%
3    07.12.2021  134,35   135,35  135,55  133,10  203,49K  -0,04%
4    06.12.2021  134,40   132,50  135,30  131,20  136,15K   3,11%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  140,70   140,40  141,20  138,80  307,94K   1,01%
239  07.01.2021  139,30   141,70  141,70  136,30  132,22K  -1,28%
240  06.01.2021  141,10   139,40  141,40  137,30  166,49K   2,02%
241  05.01.2021  138,30   136,80  138,60  135,60  242,27K  -0,14%
242  04.01.2021  138,50   148,00  148,60  137,00  237,61K  -2,60%

[243 rows x 7 columns]

In [7]:
df6 = pd.read_csv('data/almiral.csv')
df6

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  10,700   10,635  10,755  10,625        -   0,00%
1    09.12.2021  10,700   10,790  10,790  10,610  214,37K   0,28%
2    08.12.2021  10,670   10,780  10,780  10,600  273,03K   0,00%
3    07.12.2021  10,670   10,720  10,780  10,540  328,31K   1,04%
4    06.12.2021  10,560   10,510  10,700  10,420  360,63K   1,83%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  11,247   11,286  11,286  11,158  245,06K   0,88%
239  07.01.2021  11,148   11,089  11,208  10,981  377,77K   1,34%
240  06.01.2021  11,001   11,050  11,079  10,853  292,65K   0,90%
241  05.01.2021  10,902   10,912  11,020  10,902  332,79K  -0,18%
242  04.01.2021  10,922   10,932  11,109  10,843  364,92K   1,47%

[243 rows x 7 columns]

In [8]:
df7 = pd.read_csv('data/amadeus.csv')
df7

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  57,670   56,500  58,040  56,500        -   0,09%
1    09.12.2021  57,620   59,080  59,200  57,620    1,40M  -2,14%
2    08.12.2021  58,880   58,600  59,580  57,200  947,76K  -0,67%
3    07.12.2021  59,280   59,080  59,420  58,480  813,58K   1,86%
4    06.12.2021  58,200   57,600  58,600  57,180  917,99K   2,32%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  57,100   57,460  57,640  56,540  888,48K   0,53%
239  07.01.2021  56,800   57,800  58,160  55,620    1,30M  -4,67%
240  06.01.2021  59,580   58,620  59,880  57,540  973,03K   2,34%
241  05.01.2021  58,220   57,660  58,580  57,500  697,04K   0,28%
242  04.01.2021  58,060   60,740  61,040  57,360  832,29K  -2,52%

[243 rows x 7 columns]

In [9]:
df8 = pd.read_csv('data/bankinter.csv')
df8

          Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0    10.12.2021  4,307    4,340  4,354  4,295  943,02K  -0,83%
1    09.12.2021  4,343    4,400  4,415  4,340    2,77M  -1,03%
2    08.12.2021  4,388    4,425  4,458  4,347    1,86M  -0,61%
3    07.12.2021  4,415    4,466  4,466  4,390    1,81M  -0,09%
4    06.12.2021  4,419    4,378  4,439  4,351    1,18M   1,89%
..          ...    ...      ...    ...    ...      ...     ...
238  08.01.2021  4,979    5,000  5,016  4,862    3,54M   0,26%
239  07.01.2021  4,966    4,787  4,966  4,703    4,30M   4,20%
240  06.01.2021  4,766    4,585  4,824  4,556    4,15M   6,10%
241  05.01.2021  4,492    4,320  4,549  4,319    5,03M   3,41%
242  04.01.2021  4,344    4,482  4,484  4,310    7,66M  -1,81%

[243 rows x 7 columns]

In [10]:
df9 = pd.read_csv('data/bbva.csv')
df9

          Fecha Último Apertura Máximo Mínimo    Vol.  % var.
0    10.12.2021  5,110    5,100  5,146  5,041  27,87M  -0,87%
1    09.12.2021  5,155    5,176  5,235  5,142  18,45M  -0,92%
2    08.12.2021  5,203    5,102  5,287  5,096  36,77M   1,36%
3    07.12.2021  5,133    5,074  5,140  5,026  27,70M   2,64%
4    06.12.2021  5,001    4,848  5,008  4,820  24,52M   4,42%
..          ...    ...      ...    ...    ...     ...     ...
238  08.01.2021  4,276    4,375  4,375  4,243  18,00M  -1,75%
239  07.01.2021  4,352    4,331  4,364  4,236  16,39M   1,00%
240  06.01.2021  4,309    4,155  4,360  4,155  23,84M   5,77%
241  05.01.2021  4,074    4,040  4,093  4,022  10,36M  -0,10%
242  04.01.2021  4,078    4,098  4,098  3,983  17,70M   1,07%

[243 rows x 7 columns]

In [11]:
df10 = pd.read_csv('data/caixabank.csv')
df10

          Fecha Último Apertura Máximo Mínimo    Vol.  % var.
0    10.12.2021  2,296    2,309  2,327  2,292   8,92M  -1,25%
1    09.12.2021  2,325    2,343  2,362  2,325   5,80M  -1,19%
2    08.12.2021  2,353    2,352  2,398  2,334  17,24M  -0,51%
3    07.12.2021  2,365    2,374  2,376  2,328  11,27M   0,81%
4    06.12.2021  2,346    2,310  2,352  2,303   5,37M   2,09%
..          ...    ...      ...    ...    ...     ...     ...
238  08.01.2021  2,341    2,369  2,369  2,319  13,93M   0,04%
239  07.01.2021  2,340    2,270  2,360  2,224  21,96M   3,77%
240  06.01.2021  2,255    2,164  2,286  2,157  13,66M   5,67%
241  05.01.2021  2,134    2,117  2,148  2,105   6,44M   0,23%
242  04.01.2021  2,129    2,120  2,147  2,090   8,33M   1,33%

[243 rows x 7 columns]

In [12]:
df11 = pd.read_csv('data/cellnex.csv')
df11

          Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0    10.12.2021  52,48    52,02  52,88  51,72    1,45M  -0,15%
1    09.12.2021  52,56    52,06  53,06  51,72    1,30M   1,27%
2    08.12.2021  51,90    51,70  52,78  51,70    2,41M   0,08%
3    07.12.2021  51,86    51,82  52,04  51,38  799,84K   1,05%
4    06.12.2021  51,32    51,14  51,80  50,64  638,84K   1,50%
..          ...    ...      ...    ...    ...      ...     ...
238  08.01.2021  43,94    43,62  44,13  43,21    1,51M   1,45%
239  07.01.2021  43,31    44,28  44,70  42,38    2,41M  -1,62%
240  06.01.2021  44,02    46,63  46,63  43,87    2,40M  -5,66%
241  05.01.2021  46,66    47,24  47,26  46,03    1,09M  -1,49%
242  04.01.2021  47,37    46,18  47,37  45,98    1,01M   4,11%

[243 rows x 7 columns]

In [13]:
df12 = pd.read_csv('data/cieautomotive.csv')
df12

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  26,760   26,460  27,200  26,380  197,84K   0,38%
1    09.12.2021  26,660   26,280  26,800  26,100  149,67K   2,30%
2    08.12.2021  26,060   26,180  26,380  25,880  176,83K  -0,84%
3    07.12.2021  26,280   26,040  26,340  25,740  154,88K   2,90%
4    06.12.2021  25,540   25,160  25,600  24,980  123,38K   2,08%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  21,760   22,200  22,340  21,760  150,70K  -1,27%
239  07.01.2021  22,040   21,520  22,200  21,520  189,03K   2,32%
240  06.01.2021  21,540   21,460  21,980  21,380  132,61K   1,13%
241  05.01.2021  21,300   21,200  21,720  21,020  216,82K  -2,02%
242  04.01.2021  21,740   22,280  22,460  21,580  215,01K  -1,45%

[243 rows x 7 columns]

In [14]:
df13 = pd.read_csv('data/colonial.csv')
df13

          Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0    10.12.2021  8,050    7,885  8,065  7,885  688,62K   1,07%
1    09.12.2021  7,965    7,895  8,080  7,895  744,66K   0,06%
2    08.12.2021  7,960    7,900  8,085  7,865  972,93K   0,44%
3    07.12.2021  7,925    8,040  8,095  7,910  526,66K   0,51%
4    06.12.2021  7,885    7,820  7,920  7,785  407,64K   1,41%
..          ...    ...      ...    ...    ...      ...     ...
238  08.01.2021  7,940    7,880  7,975  7,820  333,88K   0,00%
239  07.01.2021  7,940    8,100  8,100  7,860  610,16K  -1,12%
240  06.01.2021  8,030    7,935  8,100  7,875  407,94K   0,50%
241  05.01.2021  7,990    7,975  8,005  7,835  362,52K   0,31%
242  04.01.2021  7,965    8,060  8,125  7,870  743,87K  -0,75%

[243 rows x 7 columns]

In [15]:
df14 = pd.read_csv('data/enagas.csv')
df14

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  20,600   20,500  20,620  20,460  676,83K   0,15%
1    09.12.2021  20,570   20,530  20,630  20,420    2,63M   0,19%
2    08.12.2021  20,530   20,480  20,710  20,440    1,72M   0,10%
3    07.12.2021  20,510   20,620  20,660  20,430    3,51M  -0,29%
4    06.12.2021  20,570   20,180  20,630  20,140    1,71M   2,29%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  18,220   18,190  18,255  18,005    2,14M   0,52%
239  07.01.2021  18,125   18,190  18,190  17,830    1,82M   0,61%
240  06.01.2021  18,015   17,750  18,275  17,740    1,90M   2,07%
241  05.01.2021  17,650   17,805  17,935  17,595    2,18M  -1,37%
242  04.01.2021  17,895   18,100  18,320  17,895    1,42M  -0,39%

[243 rows x 7 columns]

In [16]:
df15 = pd.read_csv('data/endesa.csv')
df15

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  19,635   19,700  19,795  19,625  618,16K  -0,66%
1    09.12.2021  19,765   19,800  19,850  19,635    2,26M   0,41%
2    08.12.2021  19,685   19,840  20,060  19,615  942,96K  -0,76%
3    07.12.2021  19,835   19,935  20,080  19,825    1,30M   0,08%
4    06.12.2021  19,820   19,585  19,820  19,530    1,61M   2,01%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  22,780   22,530  22,780  22,430    1,26M   1,11%
239  07.01.2021  22,530   22,720  22,730  22,430    6,41M  -0,49%
240  06.01.2021  22,640   22,270  22,640  22,100    1,01M   2,12%
241  05.01.2021  22,170   22,320  22,420  22,070    5,07M  -0,89%
242  04.01.2021  22,370   22,450  22,660  22,300    9,45M   0,09%

[243 rows x 7 columns]

In [17]:
df16 = pd.read_csv('data/ferrovial.csv')
df16

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  25,490   25,600  25,790  25,490  431,03K  -0,89%
1    09.12.2021  25,720   25,970  25,980  25,710  736,62K  -0,66%
2    08.12.2021  25,890   26,250  26,430  25,890    2,26M  -1,48%
3    07.12.2021  26,280   26,000  26,420  25,800    1,05M   1,90%
4    06.12.2021  25,790   25,730  25,980  25,680    1,30M   1,54%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  21,810   21,545  21,967  21,516    3,07M   1,88%
239  07.01.2021  21,408   21,800  21,800  21,133    1,36M  -1,36%
240  06.01.2021  21,702   21,663  21,840  21,457    1,34M   1,05%
241  05.01.2021  21,477   21,565  21,840  21,437    1,13M  -1,44%
242  04.01.2021  21,791   22,487  22,831  21,702    1,47M  -1,73%

[243 rows x 7 columns]

In [18]:
df17 = pd.read_csv('data/fluidra.csv')
df17

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  32,750   33,600  33,600  32,600  329,80K  -2,82%
1    09.12.2021  33,700   34,250  34,400  33,550  310,51K  -1,03%
2    08.12.2021  34,050   34,450  34,900  33,750  794,31K  -1,45%
3    07.12.2021  34,550   33,200  34,600  33,050  449,39K   6,14%
4    06.12.2021  32,550   32,800  32,800  32,150  310,01K   1,24%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  20,250   20,050  20,650  20,050   96,49K   1,66%
239  07.01.2021  19,920   20,500  20,750  19,880  127,10K  -2,35%
240  06.01.2021  20,400   20,150  20,500  19,940  180,31K   1,49%
241  05.01.2021  20,100   20,200  20,250  19,840  105,17K  -0,50%
242  04.01.2021  20,200   21,000  21,000  19,820  163,52K  -3,58%

[243 rows x 7 columns]

In [19]:
df18 = pd.read_csv('data/grifols.csv')
df18

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  15,410   15,400  15,630  15,285    1,25M   0,10%
1    09.12.2021  15,395   15,400  15,535  15,265  922,49K   0,26%
2    08.12.2021  15,355   15,230  15,525  15,210    1,21M   0,36%
3    07.12.2021  15,300   15,400  15,500  15,135    1,45M   0,00%
4    06.12.2021  15,300   15,460  15,470  15,080    1,18M  -0,42%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  23,820   23,830  24,090  23,540  648,88K  -0,04%
239  07.01.2021  23,830   24,130  24,210  23,790  819,81K  -0,46%
240  06.01.2021  23,940   24,080  24,190  23,740  879,16K  -0,58%
241  05.01.2021  24,080   23,980  24,150  23,640  539,33K  -0,04%
242  04.01.2021  24,090   24,170  24,250  23,880  664,05K   0,88%

[243 rows x 7 columns]

In [20]:
df19 = pd.read_csv('data/hotels.csv')
df19

          Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0    10.12.2021  5,732    5,850  5,898  5,732  928,59K  -2,05%
1    09.12.2021  5,852    6,078  6,078  5,852  718,61K  -2,86%
2    08.12.2021  6,024    5,990  6,088  5,720    1,39M   1,01%
3    07.12.2021  5,964    5,990  6,108  5,906  933,30K   1,36%
4    06.12.2021  5,884    5,708  5,884  5,602  855,37K   4,36%
..          ...    ...      ...    ...    ...      ...     ...
238  08.01.2021  5,635    5,600  5,730  5,580  984,49K   1,81%
239  07.01.2021  5,535    5,600  5,620  5,430  980,30K  -0,98%
240  06.01.2021  5,590    5,450  5,615  5,375    1,08M   4,49%
241  05.01.2021  5,350    5,250  5,480  5,220    1,46M  -0,09%
242  04.01.2021  5,355    5,740  5,885  5,335    2,19M  -6,38%

[243 rows x 7 columns]

In [21]:
df20 = pd.read_csv('data/iberdrola.csv')
df20

          Fecha  Último Apertura  Máximo  Mínimo    Vol.  % var.
0    10.12.2021   9,738    9,806   9,872   9,704   8,66M  -1,30%
1    09.12.2021   9,866   10,030  10,035   9,842   9,39M  -1,44%
2    08.12.2021  10,010   10,050  10,120   9,980  10,18M  -0,50%
3    07.12.2021  10,060    9,972  10,085   9,950   9,65M   0,98%
4    06.12.2021   9,962    9,760   9,962   9,726  11,07M   2,76%
..          ...     ...      ...     ...     ...     ...     ...
238  08.01.2021  12,071   11,916  12,133  11,878  11,70M   1,79%
239  07.01.2021  11,858   11,892  11,974  11,795  18,58M   0,45%
240  06.01.2021  11,805   11,429  11,810  11,366  16,72M   4,35%
241  05.01.2021  11,313   11,438  11,496  11,294  21,35M  -1,55%
242  04.01.2021  11,491   11,390  11,530  11,380  13,89M   1,75%

[243 rows x 7 columns]

In [22]:
df21 = pd.read_csv('data/ICAG.csv')
df21

          Fecha Último Apertura Máximo Mínimo    Vol.  % var.
0    10.12.2021  1,605    1,600  1,624  1,592  10,68M  -0,19%
1    09.12.2021  1,608    1,665  1,669  1,596  15,13M  -3,04%
2    08.12.2021  1,658    1,660  1,690  1,571  37,36M  -0,87%
3    07.12.2021  1,673    1,706  1,717  1,662  22,96M   0,27%
4    06.12.2021  1,668    1,576  1,671  1,551  21,76M   7,89%
..          ...    ...      ...    ...    ...     ...     ...
238  08.01.2021  1,735    1,764  1,798  1,727  33,52M  -0,17%
239  07.01.2021  1,737    1,758  1,770  1,676  20,92M  -0,74%
240  06.01.2021  1,750    1,683  1,760  1,646  21,30M   5,61%
241  05.01.2021  1,658    1,642  1,699  1,600  24,86M  -0,21%
242  04.01.2021  1,661    1,849  1,850  1,655  38,70M  -7,26%

[243 rows x 7 columns]

In [23]:
df22 = pd.read_csv('data/inditex.csv')
df22

          Fecha  Último Apertura  Máximo  Mínimo   Vol.  % var.
0    10.12.2021  28,400   28,390  28,800  28,210  2,45M   0,42%
1    09.12.2021  28,280   28,700  28,790  28,210  3,19M  -1,81%
2    08.12.2021  28,800   29,720  29,890  28,720  5,03M  -2,90%
3    07.12.2021  29,660   28,990  29,660  28,690  4,06M   3,63%
4    06.12.2021  28,620   28,160  28,620  27,940  2,96M   2,76%
..          ...     ...      ...     ...     ...    ...     ...
238  08.01.2021  26,720   26,500  26,720  26,340  2,33M   1,87%
239  07.01.2021  26,230   26,570  26,570  25,930  2,54M  -0,64%
240  06.01.2021  26,400   25,920  26,480  25,530  2,45M   2,52%
241  05.01.2021  25,750   25,700  25,970  25,510  1,85M  -0,35%
242  04.01.2021  25,840   26,430  26,430  25,710  8,75M  -0,77%

[243 rows x 7 columns]

In [24]:
df23 = pd.read_csv('data/indra.csv')
df23

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  10,430   10,440  10,510  10,380  549,82K  -0,48%
1    09.12.2021  10,480   10,560  10,560  10,450  400,97K   0,29%
2    08.12.2021  10,450   10,500  10,550  10,400  500,28K  -0,19%
3    07.12.2021  10,470   10,330  10,490  10,300  418,23K   2,35%
4    06.12.2021  10,230   10,190  10,330  10,080  516,61K   1,89%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021   7,060    6,980   7,075   6,965  683,60K   1,73%
239  07.01.2021   6,940    7,090   7,090   6,835  754,14K  -1,77%
240  06.01.2021   7,065    7,030   7,095   6,915  545,72K   1,44%
241  05.01.2021   6,965    6,800   6,965   6,785  482,91K   1,68%
242  04.01.2021   6,850    7,115   7,115   6,810  581,80K  -1,86%

[243 rows x 7 columns]

In [25]:
df24 = pd.read_csv('data/mapfre.csv')
df24

          Fecha Último Apertura Máximo Mínimo    Vol.  % var.
0    10.12.2021  1,801    1,801  1,810  1,791   2,05M  -0,17%
1    09.12.2021  1,804    1,816  1,818  1,801   1,45M  -0,33%
2    08.12.2021  1,811    1,829  1,839  1,806   1,54M  -1,07%
3    07.12.2021  1,830    1,843  1,843  1,824   2,01M   0,55%
4    06.12.2021  1,820    1,811  1,827  1,799   1,82M   1,59%
..          ...    ...      ...    ...    ...     ...     ...
238  08.01.2021  1,644    1,658  1,663  1,637  20,08M  -0,18%
239  07.01.2021  1,647    1,653  1,653  1,626  14,14M   0,24%
240  06.01.2021  1,643    1,615  1,654  1,606   5,86M   2,75%
241  05.01.2021  1,599    1,580  1,612  1,575   4,28M   0,88%
242  04.01.2021  1,585    1,607  1,624  1,573  13,80M  -0,50%

[243 rows x 7 columns]

In [26]:
df25 = pd.read_csv('data/merlin.csv')
df25

          Fecha Último Apertura Máximo Mínimo     Vol.  % var.
0    10.12.2021   9,82     9,76   9,85   9,74  526,11K   0,49%
1    09.12.2021   9,78     9,76   9,91   9,73    1,11M   0,85%
2    08.12.2021   9,69     9,56   9,86   9,55    1,11M   1,04%
3    07.12.2021   9,59     9,72   9,72   9,51  545,13K  -0,06%
4    06.12.2021   9,60     9,67   9,67   9,49    1,09M   0,42%
..          ...    ...      ...    ...    ...      ...     ...
238  08.01.2021   7,70     7,80   7,82   7,68  694,57K  -0,77%
239  07.01.2021   7,76     7,78   7,80   7,64    1,57M   0,91%
240  06.01.2021   7,70     7,72   7,78   7,67  653,55K  -0,19%
241  05.01.2021   7,71     7,57   7,74   7,51  906,46K   1,98%
242  04.01.2021   7,56     7,79   7,91   7,55    1,08M  -2,83%

[243 rows x 7 columns]

In [27]:
df26 = pd.read_csv('data/naturgy.csv')
df26

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  25,290   25,050  25,330  24,610  574,42K   0,12%
1    09.12.2021  25,260   25,160  25,330  25,080  346,85K   0,72%
2    08.12.2021  25,080   25,120  25,430  25,080  426,70K  -0,48%
3    07.12.2021  25,200   25,070  25,410  24,970  716,16K   1,00%
4    06.12.2021  24,950   24,280  25,120  24,280  803,49K   1,84%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  20,270   19,940  20,270  19,640    1,11M   2,61%
239  07.01.2021  19,755   19,505  19,855  19,235    2,20M   2,44%
240  06.01.2021  19,285   18,840  19,415  18,840  812,87K   1,88%
241  05.01.2021  18,930   19,020  19,095  18,795  671,29K  -0,71%
242  04.01.2021  19,065   19,215  19,355  19,065  555,81K   0,55%

[243 rows x 7 columns]

In [28]:
df27 = pd.read_csv('data/pharmamar.csv')
df27

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  52,780   54,020  54,020  52,480   56,75K  -2,30%
1    09.12.2021  54,020   55,300  55,300  54,020   38,03K  -1,28%
2    08.12.2021  54,720   55,300  56,100  54,220   58,92K  -0,44%
3    07.12.2021  54,960   53,000  55,320  53,000   57,18K   4,25%
4    06.12.2021  52,720   53,320  53,800  52,200   71,48K  -0,08%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  77,200   78,000  78,500  76,100  128,06K  -0,13%
239  07.01.2021  77,300   76,500  78,450  75,700  154,35K   1,44%
240  06.01.2021  76,200   78,600  78,600  75,150  151,95K  -1,80%
241  05.01.2021  77,600   77,000  80,400  74,850  297,27K   1,24%
242  04.01.2021  76,650   71,800  76,800  71,550  195,96K   7,96%

[243 rows x 7 columns]

In [29]:
df28 = pd.read_csv('data/redelectrica.csv')
df28

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  18,960   18,780  18,980  18,670  833,65K   0,74%
1    09.12.2021  18,820   18,800  18,955  18,745  746,96K   0,08%
2    08.12.2021  18,805   18,780  19,025  18,750    1,10M   0,05%
3    07.12.2021  18,795   18,935  19,030  18,755    1,25M  -0,58%
4    06.12.2021  18,905   18,650  18,905  18,520    1,56M   2,02%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  16,450   16,460  16,510  16,375    1,30M   0,61%
239  07.01.2021  16,350   16,650  16,665  16,330    3,37M  -0,88%
240  06.01.2021  16,495   16,490  16,560  16,385    1,75M   0,64%
241  05.01.2021  16,390   16,780  16,780  16,375    2,69M  -3,90%
242  04.01.2021  17,055   16,945  17,180  16,860    1,52M   1,67%

[243 rows x 7 columns]

In [30]:
df29 = pd.read_csv('data/repsol.csv')
df29

          Fecha  Último Apertura  Máximo  Mínimo    Vol.  % var.
0    10.12.2021  10,100   10,114  10,212  10,060   5,45M  -0,36%
1    09.12.2021  10,136   10,324  10,354  10,100   3,43M  -1,69%
2    08.12.2021  10,310   10,352  10,430  10,198   4,03M  -0,83%
3    07.12.2021  10,396   10,380  10,540  10,320   6,27M   1,21%
4    06.12.2021  10,272   10,150  10,368  10,150   5,48M   2,09%
..          ...     ...      ...     ...     ...     ...     ...
238  08.01.2021   8,726    8,980   8,988   8,692  11,81M  -1,76%
239  07.01.2021   8,882    8,886   8,950   8,580  17,01M   0,36%
240  06.01.2021   8,850    8,784   8,984   8,738  12,40M   1,37%
241  05.01.2021   8,730    8,142   8,730   8,134  11,67M   7,70%
242  04.01.2021   8,106    8,328   8,510   8,082   7,89M  -1,75%

[243 rows x 7 columns]

In [31]:
df30 = pd.read_csv('data/sabadell.csv')
df30

          Fecha  Último Apertura  Máximo  Mínimo    Vol.  % var.
0    10.12.2021  0,5894   0,5920  0,5978  0,5868  17,61M  -1,27%
1    09.12.2021  0,5970   0,5920  0,6034  0,5902  18,24M   0,44%
2    08.12.2021  0,5944   0,6022  0,6040  0,5874  20,53M  -1,43%
3    07.12.2021  0,6030   0,6100  0,6120  0,5940  32,61M  -0,10%
4    06.12.2021  0,6036   0,5904  0,6060  0,5862  19,47M   3,89%
..          ...     ...      ...     ...     ...     ...     ...
238  08.01.2021  0,3957   0,4091  0,4091  0,3921  43,51M  -2,97%
239  07.01.2021  0,4078   0,3820  0,4078  0,3711  62,87M   6,31%
240  06.01.2021  0,3836   0,3666  0,3912  0,3619  64,08M   6,38%
241  05.01.2021  0,3606   0,3435  0,3638  0,3435  36,44M   3,68%
242  04.01.2021  0,3478   0,3584  0,3600  0,3433  44,70M  -1,75%

[243 rows x 7 columns]

In [32]:
df31 = pd.read_csv('data/santander.csv')
df31

          Fecha  Último Apertura  Máximo  Mínimo    Vol.  % var.
0    10.12.2021  2,7010   2,7000  2,7280  2,6830  49,05M  -0,61%
1    09.12.2021  2,7175   2,7730  2,7730  2,7025  46,96M  -1,13%
2    08.12.2021  2,7485   2,7900  2,8080  2,7335  65,55M  -2,48%
3    07.12.2021  2,8185   2,8470  2,8475  2,8040  37,48M   0,18%
4    06.12.2021  2,8135   2,7880  2,8135  2,7635  28,49M   1,81%
..          ...     ...      ...     ...     ...     ...     ...
238  08.01.2021  2,7600   2,8000  2,8000  2,7100  63,40M  -1,18%
239  07.01.2021  2,7930   2,7695  2,8000  2,7010  53,82M   1,47%
240  06.01.2021  2,7525   2,6495  2,7925  2,6295  73,69M   6,87%
241  05.01.2021  2,5755   2,5335  2,5935  2,5280  33,86M   0,35%
242  04.01.2021  2,5665   2,5920  2,5975  2,5140  61,03M   1,12%

[243 rows x 7 columns]

In [33]:
df32 = pd.read_csv('data/siemens.csv')
df32

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  21,170   21,370  21,660  21,010    1,30M  -2,26%
1    09.12.2021  21,660   21,750  21,990  21,440  683,46K  -0,41%
2    08.12.2021  21,750   22,060  22,420  21,640    1,16M  -1,58%
3    07.12.2021  22,100   21,530  22,100  21,410    1,10M   4,34%
4    06.12.2021  21,180   21,360  21,590  20,880    1,88M  -0,09%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  37,210   39,000  39,350  37,030    2,26M  -3,30%
239  07.01.2021  38,480   36,560  38,490  36,560    1,93M   6,30%
240  06.01.2021  36,200   35,080  36,200  34,600    1,65M   5,26%
241  05.01.2021  34,390   34,500  34,870  34,100    1,63M   1,27%
242  04.01.2021  33,960   33,200  34,180  33,010    1,24M   2,63%

[243 rows x 7 columns]

In [34]:
df33 = pd.read_csv('data/solaria.csv')
df33

          Fecha  Último Apertura  Máximo  Mínimo     Vol.   % var.
0    10.12.2021  16,080   16,420  16,530  16,050  524,59K   -2,07%
1    09.12.2021  16,420   16,550  16,785  16,410  231,21K   -0,48%
2    08.12.2021  16,500   16,520  16,865  16,350  596,74K    0,30%
3    07.12.2021  16,450   16,445  16,675  16,410  311,14K    0,58%
4    06.12.2021  16,355   15,785  16,480  15,490  805,00K    4,14%
..          ...     ...      ...     ...     ...      ...      ...
238  08.01.2021  26,760   29,100  29,340  26,320    3,15M  -13,51%
239  07.01.2021  30,940   28,200  31,060  28,140    1,88M    9,56%
240  06.01.2021  28,240   27,000  28,420  26,800    1,31M    6,25%
241  05.01.2021  26,580   24,820  26,700  24,680    1,61M    8,40%
242  04.01.2021  24,520   23,560  24,860  23,560  813,24K    3,72%

[243 rows x 7 columns]

In [35]:
df34 = pd.read_csv('data/telefonica.csv')
df34

          Fecha  Último Apertura  Máximo  Mínimo    Vol.  % var.
0    10.12.2021  3,7245   3,6860  3,7245  3,6590  10,05M   0,78%
1    09.12.2021  3,6955   3,7025  3,7230  3,6840  10,91M  -0,36%
2    08.12.2021  3,7090   3,7400  3,7580  3,7080  12,43M  -1,44%
3    07.12.2021  3,7630   3,7800  3,7870  3,7355  16,50M   0,01%
4    06.12.2021  3,7625   3,7100  3,7805  3,6895  18,02M   2,53%
..          ...     ...      ...     ...     ...     ...     ...
238  08.01.2021  3,3164   3,3629  3,3712  3,2950  17,52M  -0,47%
239  07.01.2021  3,3322   3,2643  3,3452  3,1937  65,79M   2,78%
240  06.01.2021  3,2420   3,1146  3,2913  3,0970  21,50M   4,94%
241  05.01.2021  3,0895   3,0607  3,1444  3,0347  11,14M   0,73%
242  04.01.2021  3,0672   3,0747  3,1276  3,0114  14,70M   1,66%

[243 rows x 7 columns]

In [36]:
df35 = pd.read_csv('data/viscofan.csv')
df35

          Fecha  Último Apertura  Máximo  Mínimo     Vol.  % var.
0    10.12.2021  54,550   55,700  55,850  54,400  151,00K  -3,11%
1    09.12.2021  56,300   56,400  56,550  56,150   91,97K   0,45%
2    08.12.2021  56,050   56,700  57,000  55,900   77,90K  -1,67%
3    07.12.2021  57,000   56,650  57,000  56,450   80,07K   1,51%
4    06.12.2021  56,150   56,200  56,250  55,650   58,12K   0,27%
..          ...     ...      ...     ...     ...      ...     ...
238  08.01.2021  58,700   59,000  59,350  58,400   56,19K  -0,42%
239  07.01.2021  58,950   58,750  59,050  58,250   67,43K   0,77%
240  06.01.2021  58,500   59,050  59,350  58,100   63,64K  -0,85%
241  05.01.2021  59,000   60,200  60,200  58,850   61,50K  -1,75%
242  04.01.2021  60,050   58,650  60,200  58,500   73,31K   3,45%

[243 rows x 7 columns]